{# /templates/produit.html.twig #}
{% extends 'parent.html.twig' %}

{% block titre %}Back-Office{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenuPrincipal %}
<{{ form(form) }}>

</form>
{% endblock %}

{% block javascripts %}
{% endblock %}
