
{% extends 'internaute.html.twig' %}

{% block titre %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenuPrincipal %}

<table class="table">            
</table>

{% endblock %}

{% block javascripts %}
{% endblock %}